body {
	background-color: color-mix(
		in hsl longer hue,
		rgba(122, 110, 110, 0.267) 20%,
		green 30%
	);
}

header {
	text-align: center;
}

main {
	width: 50%;
	margin: auto;
}

.date-submit {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 20px;
}

.date-submit input {
	width: 200px;
}

.date-submit button {
	padding: 12px 30px;
}

input {
	height: 30px;
	min-width: 325px;
	background-color: color-mix(
		in hsl longer hue,
		rgba(122, 110, 110, 0.384) 20%,
		rgba(65, 187, 65, 0.24) 30%
	);
	border-color: darkgrey;
	color: rgb(255, 255, 255);
	font-size: 1.3rem;
}

.weeks {
	display: flex;
	justify-content: space-between;
}

.days {
	display: flex;
	flex-direction: column;
	align-items: end;
	margin: 0 auto;
	gap: 10px;
}

.weeks legend {
	font-size: 2rem;
}

.days legend {
	font-size: 1.5rem;
}

label {
	font-weight: bold;
}
