body {
	background-color: #1f2a2c;
}

header {
	text-align: center;
	color: #24acc7a9;
}

main {
	width: 50%;
	margin: auto;
}

.date-submit {
	display: flex;
	justify-content: center;
	align-items: baseline;
	gap: 20px;
}

.date-submit input {
	width: 200px;
}

.date-submit button {
	font-size: 1.3rem;
	padding: 5px 50px;
	background-color: #24acc76e;
	color: #ffffffb0;
	border-radius: 2px;
}

.date-submit button:hover {
	background-color: #24acc7b9;
}

input {
	height: 30px;
	min-width: 325px;
	background-color: #1f2a2c00;
	border-color: #e74d3c56;
	color: #bac9ceea;
	font-size: 1.3rem;
}

.weeks {
	display: flex;
	justify-content: space-between;
	color: #24acc7a9;
	border: none;
}

.days {
	color: #e74d3ce3;
	display: flex;
	flex-direction: column;
	align-items: end;
	margin: 0 auto;
	gap: 10px;
	border: none;
}

.weeks legend {
	font-size: 2rem;
}

.days legend {
	font-size: 1.5rem;
}

label {
	font-weight: bold;
	color: #24acc7a9;
}
